<div>
    <p>
        @ViewBag.user.Uid
    </p>
</div>

<div>
    <p>
        @ViewBag.user.Name
    </p>
</div>

<div>
    <p>
        @ViewBag.user.Serial
    </p>
</div>

<div>
    <p>
        @ViewBag.user.Price
    </p>
</div>

<div>
    <p>
        @ViewBag.user.Description
    </p>
</div>